@font-face {
  font-family: "BarcadeBrawlRegular";
  src: url(./font/BarcadeBrawlRegular-plYD.ttf);
}

* {
  font-family: "BarcadeBrawlRegular";
}

body {
  margin: 0;
  overflow: hidden;
}

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  background-color: black;
  color: white;
  border: solid;
  height: 5rem;
}

.area {
  display: flex;
  justify-content: space-between;
}

#board {
  display: grid;
  background-image: url(./img/indoor-rock-climbing-wall-background/0qew_bjsc_211224.jpg);
  background-size: cover;
  background-position-y: top;
  background-repeat: repeat-y;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
  border: solid;
  height: 35rem;
  width: 45rem;
  animation: descente 5s infinite linear;
}

@keyframes descente {
  0% {
    background-position-y: top;
  }
  100% {
    background-position-y: 35rem;
  }
}

aside {
  background-image: linear-gradient(
    130deg,
    rgb(255, 0, 0),
    rgb(0, 255, 76),
    rgb(0, 13, 255),
    rgb(255, 0, 0)
  );
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  font-size: smaller;
  line-height: 1.5rem;
  border: solid;
  height: 35rem;
  width: 20rem;
}

#display {
  background-image: linear-gradient(
    130deg,
    rgb(255, 0, 0),
    rgb(0, 255, 76),
    rgb(0, 13, 255),
    rgb(255, 0, 0)
  );
  display: flex;
  flex-direction: column-reverse;

  border: solid;
  height: 35rem;
  width: 25rem;
}

.gridCell {
  border: solid;
  font-size: xx-large;
  text-align: center;
  padding: 2rem;
  line-height: 2rem;
}

footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: black;
  color: white;
  border: solid;
}

#display .gridCell:first-of-type {
  box-shadow: 0 0 4px 2px yellow;
  animation: blink 400ms infinite alternate;
}

@keyframes blink {
  0% {
    box-shadow: 0 0 4px 2px yellow;
  }
  100% {
    box-shadow: 0 0 8px 4px yellow;
  }
}

.boardCell.player {
  background-image: url(./img/kissman2.png);
  background-size: cover;
  background-position: center;
  grid-column-end: span 3;
  grid-row-end: span 3;
}

.endgamescreen {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 100vh;
  width: 100vw;
  backdrop-filter: blur(5px);
}
.hidden {
  display: none;
}
